#x++
BuildProjectResult.err.xml
BuildProjectResult.xml
BuildProjectResult.log
BuildModelResult.err.xml
BuildModelResult.log
BuildModelResult.xml
CompileLabels.xml
XppMetadata/
**/bin/*.md
**/bin/Dynamics.AX.OneMoreActionQueueFramework*.*
/OneMoreActionQueueFramework/Resources/
/OneMoreActionQueueFramework/bin/GeneratedXppSource
