trigger:
- main

pr:
  branches:
    include:
    - '*'

variables:
  NugetConfigsPath: '$(Build.SourcesDirectory)'
  NugetsPath: '$(Pipeline.Workspace)\NuGets'
  MetadataPath: '$(Build.SourcesDirectory)'
  DynamicsSDK: '$(Build.SourcesDirectory)\NuGets'
  ToolsPackage: 'Microsoft.Dynamics.AX.Platform.CompilerPackage'
  AppPackage: 'Microsoft.Dynamics.AX.Application.DevALM.BuildXpp'
  AppSuitePackage: 'Microsoft.Dynamics.AX.ApplicationSuite.DevALM.BuildXpp'
  PlatPackage: 'Microsoft.Dynamics.AX.Platform.DevALM.BuildXpp'

stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - template: azure-pipelines-build-jobs-template.yml