<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Dynamics.AX.Platform.DevALM.BuildXpp" version="#{Platform.BuildXpp.Version}#" targetFramework="net40" />  
  <package id="Microsoft.Dynamics.AX.Platform.CompilerPackage" version="#{Platform.CompilerPackage.Version}#" targetFramework="net40" />
  <package id="Microsoft.Dynamics.AX.Application.DevALM.BuildXpp" version="#{Application.BuildXpp.Version}#" targetFramework="net40" />
  <package id="Microsoft.Dynamics.AX.ApplicationSuite.DevALM.BuildXpp" version="#{ApplicationSuite.BuildXpp.Version}#" targetFramework="net40" />
</packages>